global
    master-worker
    mworker-max-reloads 3
    daemon
    zero-warning
    # enable core dumps
    set-dumpable
    localpeer haproxy1

    ## log to stdout
    log stdout format raw local1 info
    log stderr format raw local1 warning

    stats socket /tmp/haproxy.sock mode 666 level admin

    tune.bufsize 32000
    ssl-load-extra-files all
    ssl-default-bind-curves X25519:P-256

    # intermediate configuration ## Pulled from https://ssl-config.mozilla.org/ ## Aug 2nd 2020
    ssl-default-bind-ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384
    ssl-default-bind-ciphersuites TLS_AES_128_GCM_SHA256:TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256
    ssl-default-bind-options no-sslv3 no-tlsv10 no-tlsv11 no-tls-tickets

    ssl-default-server-ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384
    ssl-default-server-ciphersuites TLS_AES_128_GCM_SHA256:TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256
    ssl-default-server-options no-sslv3 no-tlsv10 no-tlsv11 no-tls-tickets

    # curl https://ssl-config.mozilla.org/ffdhe2048.txt > /qc/certificates/dhparam
    ssl-dh-param-file /qc/certificates/dhparam

defaults
    mode http
    log global
    timeout client 5s
    timeout server 5s
    timeout connect 5s
    option redispatch
    option httplog

resolvers dns
    parse-resolv-conf
    resolve_retries       3
    timeout resolve       1s
    timeout retry         1s
    hold other           30s
    hold refused         30s
    hold nx              30s
    hold timeout         30s
    hold valid           10s
    hold obsolete        30s

frontend ft_test
    mode    http
    bind    :80  name http
    # HSTS (63072000 seconds)
    http-response set-header Strict-Transport-Security max-age=63072000
    use_backend upstream-server

backend upstream-server
    mode    http
    server-template ssl-server 1 ssl-server:443 ssl crt /qc/certificates/webservices/client.pem ca-file /qc/certificates/webservices/ca.crt
